<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scaled=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- My CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/banner.css" rel="stylesheet">

        <title>Animezation</title>
    </head>
    <body>
    	<header>
            <div class="row">
                <!-- Container menu superior -->
                <div class="container menu">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="#">Produtos</a></li>
                        <li><a href="#">Entrar</a></li>
                    </ul>
                </div>
                <div class="logotipo">
                    <img class="logo" src="img/logo.png" alt="logotipo">
                </div>
            </div>
            <!-- Carousel de imagens -->
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/banner/Bleach Ichigo & inoue IMG_128319.jpg" class="d-block w-100 container" alt="primeira imagem">
                        <div class="carousel-caption d-none d-md-block banner-style">
                            <h5>Compre os melhores produtos da cultura Otaku!</h5>
                            <p>Os melhores mangas!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/banner/Darling in the Franxx anime_wallpaper___zero_two__002__v_4_by_apriliusrehnzzz-dcd1org.png" class="d-block w-100 container" alt="segunda imagem">
                        <div class="carousel-caption d-none d-md-block banner-style">
                            <h5>Compre os melhores produtos da cultura Otaku!</h5>
                            <p>As Camisas mais estilosas!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/banner/Mushoku tensei - isekai ittara honki dasu 33 1.jpg" class="d-block w-100 container" alt="quinta imagem">
                        <div class="carousel-caption d-none d-md-block banner-style">
                            <h5>Compre os melhores produtos da cultura Otaku!</h5>
                            <p>Os melhores quadros!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/banner/Tower of God.jpg" class="d-block w-100 container" alt="nona imagem">
                        <div class="carousel-caption d-none d-md-block banner-style">
                            <h5>Compre os melhores produtos da cultura Otaku!</h5>
                            <p>Os melhores Blue-ray!</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>